.upcomingTask{
    display: flex;
    justify-content: center;
    /* background-color: #5897a5;
    border-radius: 50%; */
    /* working on some css tweaks, disabling them until I finish them -Kris */
}

.UpcomingMaster{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #e5e5e5 2px solid;
}
.mytodo {
    color: black;
}

.UpcomingMaster span{
    background-color: #6bc5eb;
}

.overdue{
    color: orange;
}

.very-overdue{
    color: red;
}

@media screen and (max-width: 800px){

    .UpcomingMaster {
        margin-bottom: 20px;
        font-size: 20px;
    }
    
}