.random-picture {
    width: 25vw;
    max-width: 350px;
    min-width: 200px;
    border-radius: 4px;
}

h2 {
    color: black;
    text-shadow: 1px 1px rgb(187, 187, 187)
}

.single-random {
    width: 25vw;
    max-width: 350px;
    min-width: 250px;
    min-height: 300px;
    max-height: 400px;
    margin: 25px;
    
}

.random-name{
    text-decoration: none;
    color: #5897a5;
    display: block;
    text-align: center;
    font-size: .9em;
}
