.center-tips{
    display: flex;
    justify-content: center;
}

.tips-title{
    color: #5897a5;
    text-align: center;
    font-size: 2.5em;
}

.all-tips-div{
    width: 80vw;
    max-width: 1500px;
    height: 100vh;
    background-color: #5897a5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-radius: 4px;
}



/*
    Cool resizing workaround code!

.square {
    width: 50%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}*/