.quiz {
    padding: 0px;
    height: auto;
    width: auto;
    color: black;
    background-color: white;
    margin: 10px 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* border: 1px solid var(--dark); */
    border-radius: 4px;
    padding: 10px;
}

.quiz * {
    box-sizing: border-box;
}

.quiz>button {
    vertical-align: middle;
    line-height: 100%;
}

.quiz>button:hover {
    background-color: var(--blue);
    border: 1px solid var(--dark-light);
}