.UpcomingMaster{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 70vw;
    border: #e5e5e5 2px solid;
}

.UpcomingMaster span{
    background-color: #a8e8d7;
}