.GaugeMain{
    display: inline;
    position: absolute;
    color: #FF5F6D;
    background-color: rgb(135, 255, 23);
}

/* .GaugeMain{
    display: block;
    color: #FF5F6D;
    background-color: rgb(135, 255, 23);
} */